/* Alignment of the columns so that visualizations are shown side by side */
html {zoom: 80%;
}
.column {
    float: left;
    padding: 10px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Center align title header and Acknowledgement sections */
h1{
  text-align: center;
}
h2{
  text-align: center;
}